:root {
    --color-header-h1: #3F51B5;
    --color-header-h2: #313f8b ;
    --color-header-h3: #17317c;
    --color-blue: blue;
    --color-white: white;
    --color-background-footer: gray;
    --color-background-button: #4ba8dc;
    --color-background-sidebar: #80808054;
}