@import './responsive.css';
@import './layout.css';
@import './color.css';

.blog1 { grid-area: blog1; }
.blog2 { grid-area: blog2; }
.blog3 { grid-area: blog3; }
.blog4 { grid-area: blog4; }
.sidebar { 
    grid-area: sidebar;
    background-color: var(--color-background-sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar a {
    color: var(--color-blue);
    text-decoration: none;
    line-height: 24px;
}

.container article {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px;
}

.container article header {
    display: flex;
    gap: 8px;
}

button {
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-background-button);
}

button a {
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
}

h2 {
    margin: 0;
    font-size: 20px;
    color: var(--color-header-h2);
    font-family: 'DM Sans';
}